$color-black: #000;
$color-black-1: #333333;
$color-black-2: #d2d2d2;
$color-primary: #ffc87a;
$color-primary-1: #f3aaa9;
$color-blue: #0f6eb8;
$color-blue-1: #0d6fb8;
$color-blue-2: #046db6;
$color-blue-3: #80c6ee;
$text-color: #1a2b5f;
$text-gray: #c6cad7;
$color-gray: #f6f6f7;
$color-gray-1: #f6f6f6;
$color-gray-2: #eeeeee;
$color-while: #fff;
$color-pink: #f2a9a8;

html {
  font-size: 62.5%; // 1rem = 10px
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $text-color;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: $text-color;
}

@mixin flex(
  $align: flex-start,
  $justify: flex-start,
  $wrap: nowrap,
  $dir: row
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $dir;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin centerPosition($pos) {
  position: absolute;
  @if $pos == "both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $pos == "left" {
    left: 50%;
    transform: translateX(-50%);
  } @else if $pos == "top" {
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;
  &--border {
    border: 1px solid currentColor;
  }
  &--rounded {
    border-radius: 5rem;
  }
  &--pink {
    background-color: $color-pink;
    &.has-shadow {
      box-shadow: 0 10px 35px -5px $color-pink;
    }
  }
  &--flex {
    @include flex(center);
  }
}

.input {
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  font-size: 2rem;

  &--rounded {
    border-radius: 10px;
  }

  &--gray {
    background-color: $color-gray-2;
  }
}

// 1440px, 1170

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.header {
  position: relative;
  background-image: url("./images/header_top_bg.png");
  background-repeat: no-repeat;
  background-size: contain;

  &__menu-desktop {
    display: block;
  }

  &__menu-mobile {
    display: none;
  }

  &__logo {
    padding-top: 25px;
    padding-bottom: 20px;

    &-img {
      margin: 0 auto;
    }
  }

  &__title-mobile {
    display: none;
  }

  &__bg {
    &-illust {
      position: absolute;
      top: 40px;
      left: 50%;
      width: 35%;
      transform: translateX(-50%);
    }

    &-bird {
      position: absolute;
      width: 50px;

      &-1 {
        top: 50px;
        left: 170px;
      }

      &-2 {
        top: 79px;
        left: 228px;
      }

      &-3 {
        top: 24px;
        left: 465px;
      }
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 160px;

    .btn {
      width: 170px;
      padding: 0;

      &:first-child {
        margin-right: 10px;
      }

      &:hover {
        .header__btn-text {
          color: $color-primary;
        }
      }
    }

    .btn--gray {
      background-color: $color-gray;
    }

    &-text {
      font-weight: 700;
      padding-bottom: 10px;
      color: $color-blue;
      transition: all 0.25s linear;
    }
  }

  &__inner {
    position: relative;
    padding-bottom: 20px;
    @include flex(center, center, "", column);

    &-bg {
      position: absolute;
      z-index: 1;
      bottom: -20px;
      width: 100%;
      height: 20px;
      background-image: url(./images/menu_u_nami.png);
      background-repeat: repeat-x;
    }
  }
  &__menu {
    width: 100%;

    &-list {
      @include flex(center, center);
    }
    &-item {
      position: relative;
      width: 10%;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;

      &:first-child {
        &::after {
          content: "";
          position: absolute;
          top: 25px;
          left: 0;
          display: block;
          height: 65px;
          border: 1px dashed #d2d2d2;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 25px;
        right: 0px;
        display: block;
        height: 65px;
        border: 1px dashed $color-black-2;
      }
    }

    &-link {
      @include flex(center, "", "", column);
      transition: all 0.25s linear;
      color: $color-black-1;
      text-align: center;

      &:hover {
        color: $color-primary;
      }
    }

    &-icon {
      width: 65px;
      height: 55px;
      margin-bottom: 15px;
    }

    &-name {
      font-size: 1.7rem;
    }

    &-name-sub {
      font-size: 1.2rem;
      color: $color-primary-1;
    }
  }

  &__title {
    width: 20%;
    font-size: 2rem;
    text-align: center;

    &-name {
      font-size: 3.2rem;
      font-weight: 700;
      color: $color-blue;
    }

    &-name-sub {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 700;
      color: $color-blue;
    }
  }
}

.banner {
  position: relative;
  background-image: url("./images/banner.jpg");
  background-repeat: no-repeat;
  height: 500px;

  &__top-rkumo {
    position: absolute;
    z-index: 2;
    bottom: 444px;
    right: 35px;
    width: 270px;
  }

  &__top_lkumo {
    position: absolute;
    z-index: 2;
    bottom: 455px;
    left: 21px;
    width: 140px;
  }

  &__contact {
    @include flex(center, center, "", column);
    @include centerPosition(both);
    top: 40%;

    .dialog-box {
      position: relative;
      &__content {
        @include centerPosition(both);
        top: 35%;
        font-size: 3rem;
        font-weight: 600;
        word-break: keep-all;
        color: $color-while;

        &-sub {
          @include centerPosition(both);
          top: 40%;
          top: 60%;
          text-transform: uppercase;
          font-size: 1.1rem;
          font-weight: 600;
          color: $color-while;
        }
      }

      &__img {
        width: 225px;
      }
    }

    .lkumo-img {
      margin-top: 5px;
      width: 35px;
    }
  }
}

.service {
  position: relative;
  background-color: $color-gray-1;
  padding-bottom: 150px;

  &__bg {
    &-top-mobile {
      display: none;
    }

    &-top {
      position: absolute;
      top: -95px;
      width: 100%;

      &-icon {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: -90px;
        transform: translateX(-50%);
        width: 160px;
      }
    }

    &-about {
      position: absolute;
      top: 38px;
      z-index: 1;
      width: 200px;

      &-1 {
        left: 20px;
      }

      &-2 {
        right: 20px;
        width: 150px;
      }
    }

    &-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  &__content {
    padding-top: 200px;
    text-align: center;

    &-title {
      font-size: 3.5rem;
      font-weight: bold;
      color: $color-black-1;
    }
  }

  &__list {
    @include flex(center, center);
    width: 60%;
    margin: 30px auto;
    padding: 40px 10px;
    background-color: $color-while;
  }

  &__item {
    @include flex(center, center, "", column);
    padding: 0 20px;
    color: $color-black-1;
    border-left: 1px dashed #d2d2d2;

    &:first-child {
      border: 0;
    }

    .item {
      &-img {
        width: 70px;
        height: 45px;
      }
      &-title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 2rem;
        font-weight: bold;
      }
      &-desc {
        font-size: 1.5rem;
        text-align: left;
        font-weight: 500;
        line-height: 25px;
      }
    }
  }

  &__description {
    &-content {
      margin: 50px 0;
      font-size: 2rem;
      line-height: 35px;
      color: $color-black-1;
      font-weight: 500;
    }
  }

  &__btn {
    margin: 0 auto;
    font-weight: 600;
    color: $color-while;

    &-contact {
      color: $color-blue-2;
      border: 3px solid $color-blue-2;
      padding: 1.1rem 3rem;
    }

    &-icon {
      width: 20px;
      margin-left: 10px;
    }
  }

  &__contact {
    margin-top: 50px;
    .service__item {
      font-size: 1.5rem;
    }

    .item-img {
      width: 70px;
      height: 70px;
    }

    .item-desc__phone {
      font-weight: 600;
      font-size: 3.2rem;

      &-1 {
        color: $color-pink;
      }

      &-2 {
        color: $color-blue-3;
      }
    }
  }
}

.customer-feedback {
  position: relative;
  text-align: center;
  padding-bottom: 200px;

  &__form-icon {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: bold;
    color: $color-black-1;

    &-sub {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $color-blue;
    }
  }

  &__form {
    width: 50%;
    margin: 0 auto;
    border: 2px solid $color-blue;
    border-radius: 10px;
    margin-bottom: 40px;

    .form-row {
      display: flex;
      border-top: 1px dashed #d2d2d2;
      &:first-child {
        border: 0;
      }

      &__left {
        @include flex(center, "");
        width: 30%;
        background-color: $color-blue;
        color: $color-while;
        padding: 10px;
        padding-left: 40px;

        .input-lable {
          color: $color-while;
          font-size: 1.5rem;
          font-weight: bold;

          &-sub {
            margin-left: 4px;
            padding: 2px 10px;
            background-color: $color-pink;
            border-radius: 15px;
            white-space: nowrap;
          }
        }
      }

      &__right {
        width: 70%;
        padding: 20px 40px;
      }
    }
  }

  .service__btn {
    padding: 20px 100px;
  }
}

.footer {
  position: relative;
  background-image: url(./images/footer_illust_bg2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  background-color: $color-gray-2;

  &__bg-top {
    position: absolute;
    top: -51px;
    width: 100%;
    height: 60px;
    background-image: url(./images/footer_nami-1.png);
    background-repeat: repeat-x;
  }

  .header__title {
    margin: auto;
  }

  .header__title-name-sub {
    margin-bottom: 40px;
  }

  .service__btn-contact {
    background-color: $color-while;
  }

  &__contact-phone {
    margin: 20px 0;
    @include flex(center, center);
    color: $color-black-1;
    font-size: 3rem;
    font-weight: 600;

    &-icon {
      width: 25px;
    }
  }

  &-code {
    margin-bottom: 30px;
    font-size: 1.2rem;
  }

  &__btn-gg {
    border: 2px solid $color-black-1;
    color: $color-black-1;
    margin-bottom: 50px;
  }

  .footer__bg-bottom {
    &-1 {
      position: relative;
      height: 40px;
      background-color: $color-blue-3;

      .bg-img {
        position: absolute;
        top: -15px;
        width: 100%;
        height: 20px;
        background-image: url(./images/footer_t_nami.png);
        background-repeat: repeat-x;
      }
    }

    &-2 {
      position: relative;

      .bg-img {
        position: absolute;
        top: -15px;
        width: 100%;
        height: 20px;
        background-image: url(./images/footer_u_nami.png);
        background-repeat: repeat-x;
      }

      @include flex(center, center);
      height: 60px;
      background-color: $color-blue-2;

      .text {
        font-size: 1.5rem;
        font-weight: 600;
        color: $color-while;
      }
    }
  }
}

@media screen and(max-width: 1511px) {
  .banner {
    &__top-rkumo {
      bottom: 409px;
    }

    &__top_lkumo {
      bottom: 426px;
    }
  }

  .service {
    &__bg-about {
      top: 5px;
    }
  }
}

@media screen and(max-width: 1441px) {
  .header {
    &__btn {
      right: 105px;
    }

    &__bg {
      &-bird {
        &-1 {
          top: 28px;
        }

        &-2 {
          top: 55px;
        }

        &-3 {
          top: 17px;
          left: 370px;
        }
      }
    }

    &__menu-item {
      width: 12%;
    }

    &__title {
      width: 27%;
    }
  }

  .banner {
    &__contact {
      top: 50%;
    }
  }

  .service {
    &__bg-about {
      top: 0;
      width: 170px;

      &-2 {
        width: 125px;
      }
    }
  }

  .customer-feedback {
    &__form {
      .form-row {
        &__left {
          padding: 5px;
        }
      }
    }
  }
}

@media screen and(max-width: 1024px) {
  .header {
    &__btn {
      right: 15px;
    }

    &__bg {
      &-bird {
        &-1 {
          top: 23px;
          left: 32px;
        }

        &-2 {
          top: 50px;
          left: 89px;
        }

        &-3 {
          left: 189px;
        }
      }
    }
  }

  .banner {
    &__top-rkumo {
      bottom: 403px;
    }

    &__top_lkumo {
      bottom: 428px;
    }
  }

  .service {
    &__bg-about {
      top: -28px;
      width: 140px;

      &-2 {
        width: 105px;
      }
    }
  }
}

@media screen and(min-width: 993px) {
  .service {
    &__item {
      width: calc(100% / 3);
    }
  }
}

@media screen and(max-width: 992px) {
  .header {
    &__logo-img {
      width: 175px;
    }

    &__title {
      &-mobile {
        display: block;
        text-align: center;
      }

      &-name {
        font-size: 2.5rem;

        &-sub {
          font-size: 1.8rem;
        }
      }
    }

    &__menu {
      &-icon {
        width: 50px;
        height: 40px;
        margin-bottom: 5px;
      }

      &-name {
        font-size: 1.4rem;
      }
    }

    &__inner {
      padding-top: 30px;
      background-color: $color-gray-1;

      &-bg {
        top: 0;
      }

      &-bg-bottom {
        position: absolute;
        z-index: 1;
        bottom: -20px;
        width: 100%;
        height: 20px;
        background-image: url(./images/menu_u_nami_bottom.png);
        background-repeat: repeat-x;
      }
    }

    &__menu-desktop {
      display: none;
    }

    &__menu-mobile {
      display: block;
      .header__menu-item {
        width: 20%;
        &:first-child {
          &::after {
            display: none;
          }
        }

        &:last-child {
          &::before {
            display: none;
          }
        }
      }
    }

    &__bg {
      &-illust {
        width: 400px;
      }

      &-bird {
        display: none;
      }
    }

    &__btn {
      display: none;
    }
  }

  .navigation {
    &__checkbox {
      display: none;
    }

    &__icon {
      position: relative;
      margin-top: 3.2rem;

      &,
      &::before,
      &::after {
        width: 3.5rem;
        height: 0.3rem;
        background-color: $color-blue-1;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -1rem;
      }

      &::after {
        top: 1rem;
      }
    }

    &__name {
      margin-top: 5px;
      font-size: 1.4rem;
      color: $color-blue-1;
    }

    &__button:hover &__icon::before {
      top: -1rem;
    }

    &__button:hover &__icon::after {
      top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }

  .banner {
    &__top-rkumo,
    &__top_lkumo {
      display: none;
    }
  }

  .service {
    &__bg-top-mobile {
      display: block;
    }

    &__bg-top-mobile {
      display: block;
    }

    &__bg-top-desktop {
      display: none;
    }

    &__content {
      padding-top: 130px;
    }

    &__bg-top {
      &-icon {
        top: -93px;
      }
    }

    &__bg-about {
      top: 10px;
      width: 170px;

      &-1 {
        left: -54px;
      }

      &-2 {
        width: 105px;
        right: 0;
      }
    }

    &__list {
      width: 90%;
      flex-direction: column;
      padding: 0;
    }

    &__item {
      padding: 40px;
      border: 0;
      border-top: 1px dashed #d2d2d2;

      &:first-child {
        border: 0;
      }
    }

    &__description {
      &-content {
        padding: 0 20px;
        font-size: 1.5rem;
      }
    }

    &__contact {
      .service__item {
        width: 100%;
        border-left: 1px dashed #d2d2d2;

        &:first-child {
          border: 0;
        }
      }
    }
  }

  .customer-feedback {
    &__form-icon {
      top: -60px;
      width: 50px;
    }

    &__form {
      width: 90%;
      border: 0;

      .form-row {
        &:first-child {
          border-top: 1px dashed #d2d2d2;
        }

        &:last-child {
          border-bottom: 1px dashed #d2d2d2;
        }

        &__left {
          padding: 5px;
        }

        &__right {
          padding: 20px;
        }
      }
    }
  }

  .footer {
    &__btn-gg {
      padding: 10px 20px;
      margin-bottom: 28px;
    }
  }
}

@media screen and(max-width: 768px) {
  .service {
    &__bg-top {
      top: -50px;

      &-icon {
        width: 100px;
        top: -48px;
      }
    }

    &__bg-about {
      top: 35px;
      width: 125px;

      &-2 {
        width: 70px;
        top: 48px;
        right: 0;
      }
    }
  }
}

@media screen and(max-width: 540px) {
  .service {
    &__bg-about {
      top: 50%;
      width: 70px;

      &-1 {
        left: -77px;
      }

      &-2 {
        width: 37px;
        top: 15px;
        right: 0;
      }
    }

    &__description {
      &-content {
        text-align: left;
      }
    }
  }
}
