html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1a2b5f;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #1a2b5f;
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;
}
.btn--border {
  border: 1px solid currentColor;
}
.btn--rounded {
  border-radius: 5rem;
}
.btn--pink {
  background-color: #f2a9a8;
}
.btn--pink.has-shadow {
  box-shadow: 0 10px 35px -5px #f2a9a8;
}
.btn--flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}

.input {
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  font-size: 2rem;
}
.input--rounded {
  border-radius: 10px;
}
.input--gray {
  background-color: #eeeeee;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.header {
  position: relative;
  background-image: url("./images/header_top_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header__menu-desktop {
  display: block;
}
.header__menu-mobile {
  display: none;
}
.header__logo {
  padding-top: 25px;
  padding-bottom: 20px;
}
.header__logo-img {
  margin: 0 auto;
}
.header__title-mobile {
  display: none;
}
.header__bg-illust {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 35%;
  transform: translateX(-50%);
}
.header__bg-bird {
  position: absolute;
  width: 50px;
}
.header__bg-bird-1 {
  top: 50px;
  left: 170px;
}
.header__bg-bird-2 {
  top: 79px;
  left: 228px;
}
.header__bg-bird-3 {
  top: 24px;
  left: 465px;
}
.header__btn {
  position: absolute;
  top: 0;
  right: 160px;
}
.header__btn .btn {
  width: 170px;
  padding: 0;
}
.header__btn .btn:first-child {
  margin-right: 10px;
}
.header__btn .btn:hover .header__btn-text {
  color: #ffc87a;
}
.header__btn .btn--gray {
  background-color: #f6f6f7;
}
.header__btn-text {
  font-weight: 700;
  padding-bottom: 10px;
  color: #0f6eb8;
  transition: all 0.25s linear;
}
.header__inner {
  position: relative;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: "";
  flex-direction: column;
}
.header__inner-bg {
  position: absolute;
  z-index: 1;
  bottom: -20px;
  width: 100%;
  height: 20px;
  background-image: url(./images/menu_u_nami.png);
  background-repeat: repeat-x;
}
.header__menu {
  width: 100%;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-item {
  position: relative;
  width: 10%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.header__menu-item:first-child::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  display: block;
  height: 65px;
  border: 1px dashed #d2d2d2;
}
.header__menu-item::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 0px;
  display: block;
  height: 65px;
  border: 1px dashed #d2d2d2;
}
.header__menu-link {
  display: flex;
  align-items: center;
  justify-content: "";
  flex-wrap: "";
  flex-direction: column;
  transition: all 0.25s linear;
  color: #333333;
  text-align: center;
}
.header__menu-link:hover {
  color: #ffc87a;
}
.header__menu-icon {
  width: 65px;
  height: 55px;
  margin-bottom: 15px;
}
.header__menu-name {
  font-size: 1.7rem;
}
.header__menu-name-sub {
  font-size: 1.2rem;
  color: #f3aaa9;
}
.header__title {
  width: 20%;
  font-size: 2rem;
  text-align: center;
}
.header__title-name {
  font-size: 3.2rem;
  font-weight: 700;
  color: #0f6eb8;
}
.header__title-name-sub {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #0f6eb8;
}

.banner {
  position: relative;
  background-image: url("./images/banner.jpg");
  background-repeat: no-repeat;
  height: 500px;
}
.banner__top-rkumo {
  position: absolute;
  z-index: 2;
  bottom: 444px;
  right: 35px;
  width: 270px;
}
.banner__top_lkumo {
  position: absolute;
  z-index: 2;
  bottom: 455px;
  left: 21px;
  width: 140px;
}
.banner__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: "";
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
}
.banner__contact .dialog-box {
  position: relative;
}
.banner__contact .dialog-box__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 35%;
  font-size: 3rem;
  font-weight: 600;
  word-break: keep-all;
  color: #fff;
}
.banner__contact .dialog-box__content-sub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  top: 60%;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}
.banner__contact .dialog-box__img {
  width: 225px;
}
.banner__contact .lkumo-img {
  margin-top: 5px;
  width: 35px;
}

.service {
  position: relative;
  background-color: #f6f6f6;
  padding-bottom: 150px;
}
.service__bg-top-mobile {
  display: none;
}
.service__bg-top {
  position: absolute;
  top: -95px;
  width: 100%;
}
.service__bg-top-icon {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: -90px;
  transform: translateX(-50%);
  width: 160px;
}
.service__bg-about {
  position: absolute;
  top: 38px;
  z-index: 1;
  width: 200px;
}
.service__bg-about-1 {
  left: 20px;
}
.service__bg-about-2 {
  right: 20px;
  width: 150px;
}
.service__bg-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.service__content {
  padding-top: 200px;
  text-align: center;
}
.service__content-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #333333;
}
.service__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 60%;
  margin: 30px auto;
  padding: 40px 10px;
  background-color: #fff;
}
.service__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: "";
  flex-direction: column;
  padding: 0 20px;
  color: #333333;
  border-left: 1px dashed #d2d2d2;
}
.service__item:first-child {
  border: 0;
}
.service__item .item-img {
  width: 70px;
  height: 45px;
}
.service__item .item-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}
.service__item .item-desc {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 500;
  line-height: 25px;
}
.service__description-content {
  margin: 50px 0;
  font-size: 2rem;
  line-height: 35px;
  color: #333333;
  font-weight: 500;
}
.service__btn {
  margin: 0 auto;
  font-weight: 600;
  color: #fff;
}
.service__btn-contact {
  color: #046db6;
  border: 3px solid #046db6;
  padding: 1.1rem 3rem;
}
.service__btn-icon {
  width: 20px;
  margin-left: 10px;
}
.service__contact {
  margin-top: 50px;
}
.service__contact .service__item {
  font-size: 1.5rem;
}
.service__contact .item-img {
  width: 70px;
  height: 70px;
}
.service__contact .item-desc__phone {
  font-weight: 600;
  font-size: 3.2rem;
}
.service__contact .item-desc__phone-1 {
  color: #f2a9a8;
}
.service__contact .item-desc__phone-2 {
  color: #80c6ee;
}

.customer-feedback {
  position: relative;
  text-align: center;
  padding-bottom: 200px;
}
.customer-feedback__form-icon {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
}
.customer-feedback__title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #333333;
}
.customer-feedback__title-sub {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f6eb8;
}
.customer-feedback__form {
  width: 50%;
  margin: 0 auto;
  border: 2px solid #0f6eb8;
  border-radius: 10px;
  margin-bottom: 40px;
}
.customer-feedback__form .form-row {
  display: flex;
  border-top: 1px dashed #d2d2d2;
}
.customer-feedback__form .form-row:first-child {
  border: 0;
}
.customer-feedback__form .form-row__left {
  display: flex;
  align-items: center;
  justify-content: "";
  flex-wrap: nowrap;
  flex-direction: row;
  width: 30%;
  background-color: #0f6eb8;
  color: #fff;
  padding: 10px;
  padding-left: 40px;
}
.customer-feedback__form .form-row__left .input-lable {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.customer-feedback__form .form-row__left .input-lable-sub {
  margin-left: 4px;
  padding: 2px 10px;
  background-color: #f2a9a8;
  border-radius: 15px;
  white-space: nowrap;
}
.customer-feedback__form .form-row__right {
  width: 70%;
  padding: 20px 40px;
}
.customer-feedback .service__btn {
  padding: 20px 100px;
}

.footer {
  position: relative;
  background-image: url(./images/footer_illust_bg2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  background-color: #eeeeee;
}
.footer__bg-top {
  position: absolute;
  top: -51px;
  width: 100%;
  height: 60px;
  background-image: url(./images/footer_nami-1.png);
  background-repeat: repeat-x;
}
.footer .header__title {
  margin: auto;
}
.footer .header__title-name-sub {
  margin-bottom: 40px;
}
.footer .service__btn-contact {
  background-color: #fff;
}
.footer__contact-phone {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  color: #333333;
  font-size: 3rem;
  font-weight: 600;
}
.footer__contact-phone-icon {
  width: 25px;
}
.footer-code {
  margin-bottom: 30px;
  font-size: 1.2rem;
}
.footer__btn-gg {
  border: 2px solid #333333;
  color: #333333;
  margin-bottom: 50px;
}
.footer .footer__bg-bottom-1 {
  position: relative;
  height: 40px;
  background-color: #80c6ee;
}
.footer .footer__bg-bottom-1 .bg-img {
  position: absolute;
  top: -15px;
  width: 100%;
  height: 20px;
  background-image: url(./images/footer_t_nami.png);
  background-repeat: repeat-x;
}
.footer .footer__bg-bottom-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 60px;
  background-color: #046db6;
}
.footer .footer__bg-bottom-2 .bg-img {
  position: absolute;
  top: -15px;
  width: 100%;
  height: 20px;
  background-image: url(./images/footer_u_nami.png);
  background-repeat: repeat-x;
}
.footer .footer__bg-bottom-2 .text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 1511px) {
  .banner__top-rkumo {
    bottom: 409px;
  }
  .banner__top_lkumo {
    bottom: 426px;
  }

  .service__bg-about {
    top: 5px;
  }
}
@media screen and (max-width: 1441px) {
  .header__btn {
    right: 105px;
  }
  .header__bg-bird-1 {
    top: 28px;
  }
  .header__bg-bird-2 {
    top: 55px;
  }
  .header__bg-bird-3 {
    top: 17px;
    left: 370px;
  }
  .header__menu-item {
    width: 12%;
  }
  .header__title {
    width: 27%;
  }

  .banner__contact {
    top: 50%;
  }

  .service__bg-about {
    top: 0;
    width: 170px;
  }
  .service__bg-about-2 {
    width: 125px;
  }

  .customer-feedback__form .form-row__left {
    padding: 5px;
  }
}
@media screen and (max-width: 1024px) {
  .header__btn {
    right: 15px;
  }
  .header__bg-bird-1 {
    top: 23px;
    left: 32px;
  }
  .header__bg-bird-2 {
    top: 50px;
    left: 89px;
  }
  .header__bg-bird-3 {
    left: 189px;
  }

  .banner__top-rkumo {
    bottom: 403px;
  }
  .banner__top_lkumo {
    bottom: 428px;
  }

  .service__bg-about {
    top: -28px;
    width: 140px;
  }
  .service__bg-about-2 {
    width: 105px;
  }
}
@media screen and (min-width: 993px) {
  .service__item {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 992px) {
  .header__logo-img {
    width: 175px;
  }
  .header__title-mobile {
    display: block;
    text-align: center;
  }
  .header__title-name {
    font-size: 2.5rem;
  }
  .header__title-name-sub {
    font-size: 1.8rem;
  }
  .header__menu-icon {
    width: 50px;
    height: 40px;
    margin-bottom: 5px;
  }
  .header__menu-name {
    font-size: 1.4rem;
  }
  .header__inner {
    padding-top: 30px;
    background-color: #f6f6f6;
  }
  .header__inner-bg {
    top: 0;
  }
  .header__inner-bg-bottom {
    position: absolute;
    z-index: 1;
    bottom: -20px;
    width: 100%;
    height: 20px;
    background-image: url(./images/menu_u_nami_bottom.png);
    background-repeat: repeat-x;
  }
  .header__menu-desktop {
    display: none;
  }
  .header__menu-mobile {
    display: block;
  }
  .header__menu-mobile .header__menu-item {
    width: 20%;
  }
  .header__menu-mobile .header__menu-item:first-child::after {
    display: none;
  }
  .header__menu-mobile .header__menu-item:last-child::before {
    display: none;
  }
  .header__bg-illust {
    width: 400px;
  }
  .header__bg-bird {
    display: none;
  }
  .header__btn {
    display: none;
  }

  .navigation__checkbox {
    display: none;
  }
  .navigation__icon {
    position: relative;
    margin-top: 3.2rem;
  }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3.5rem;
    height: 0.3rem;
    background-color: #0d6fb8;
    display: inline-block;
  }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .navigation__icon::before {
    top: -1rem;
  }
  .navigation__icon::after {
    top: 1rem;
  }
  .navigation__name {
    margin-top: 5px;
    font-size: 1.4rem;
    color: #0d6fb8;
  }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem;
  }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  .banner__top-rkumo, .banner__top_lkumo {
    display: none;
  }

  .service__bg-top-mobile {
    display: block;
  }
  .service__bg-top-mobile {
    display: block;
  }
  .service__bg-top-desktop {
    display: none;
  }
  .service__content {
    padding-top: 130px;
  }
  .service__bg-top-icon {
    top: -93px;
  }
  .service__bg-about {
    top: 10px;
    width: 170px;
  }
  .service__bg-about-1 {
    left: -54px;
  }
  .service__bg-about-2 {
    width: 105px;
    right: 0;
  }
  .service__list {
    width: 90%;
    flex-direction: column;
    padding: 0;
  }
  .service__item {
    padding: 40px;
    border: 0;
    border-top: 1px dashed #d2d2d2;
  }
  .service__item:first-child {
    border: 0;
  }
  .service__description-content {
    padding: 0 20px;
    font-size: 1.5rem;
  }
  .service__contact .service__item {
    width: 100%;
    border-left: 1px dashed #d2d2d2;
  }
  .service__contact .service__item:first-child {
    border: 0;
  }

  .customer-feedback__form-icon {
    top: -60px;
    width: 50px;
  }
  .customer-feedback__form {
    width: 90%;
    border: 0;
  }
  .customer-feedback__form .form-row:first-child {
    border-top: 1px dashed #d2d2d2;
  }
  .customer-feedback__form .form-row:last-child {
    border-bottom: 1px dashed #d2d2d2;
  }
  .customer-feedback__form .form-row__left {
    padding: 5px;
  }
  .customer-feedback__form .form-row__right {
    padding: 20px;
  }

  .footer__btn-gg {
    padding: 10px 20px;
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 768px) {
  .service__bg-top {
    top: -50px;
  }
  .service__bg-top-icon {
    width: 100px;
    top: -48px;
  }
  .service__bg-about {
    top: 35px;
    width: 125px;
  }
  .service__bg-about-2 {
    width: 70px;
    top: 48px;
    right: 0;
  }
}
@media screen and (max-width: 540px) {
  .service__bg-about {
    top: 50%;
    width: 70px;
  }
  .service__bg-about-1 {
    left: -77px;
  }
  .service__bg-about-2 {
    width: 37px;
    top: 15px;
    right: 0;
  }
  .service__description-content {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
